# data and logs
videos
dataset_configs
dataset_processed
logs*
*logs

# vscode
.vscode
.vscode*

# weight files
*.npy

# temp files
# .*
.test
.DS_Store
__pycache__
*.pyc

# test results
weights
summary
*temp
temp*
test*
*test

playground.ipynb
modules

socialCircle
